
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3 login">
		<form class="form-signin loginForm" method="post">
			<h2 class="form-signin-heading">Acceso</h2>
			<input type="text" id='name' class="form-control"
				placeholder="Usuario: aaxxxxxx" required="required" autofocus="autofocus">
			<input type="email" id='email' class="form-control"
				placeholder="Email: nombre@bestbuy.com" required="required">
			<div style="padding-top: 10px;"></div>
			<button class="btn btn-lg btn-primary btn-block btn-login" id="submit"
				type="button">Ingresar</button>
			<div style="padding-top: 5px;"></div>	
			<div class="row" id="alerta-roja">
					  <div class="alerta-roja" id="msg" style="display: none;"></div>
			</div>
		</form>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-7 instrucciones-login rules">
 
		<p class="span-title">Condiciones de la Subasta:</p>
		
 		<p>La subasta consiste en pujar por los artículos comenzando con un 30% de su costo aproximadamente del valor comercial. <br>El pago de cada artículo se descontará <strong>vía nómina</strong>.</p>
 		<p>Con el monto recaudado se hará una donación a:<p>
 			<ul>
 				<li>El  "Teletón" pagando a Juan Carlos  su tratamiento de  Sindrome de Down por un año.</li>
 				<li>Donando a la fundación "Ser Humano A.C."  </li>
 				<li>Subsidiando parte de la fiesta de Fin de año del Corporativo.</li>
 			</ul>
		<p class="span-title">¿Cómo participar?</p>
		<ul>
			<li>En la plataforma encontrarás los diferentes modelos disponibles para que realices tu puja.</li>
			<li>Las pujas más altas en el tiempo establecido para cada artículo, serán las ganadoras. Ejemplo: si existen 5 artículos del mismo modelo, las 5 pujas más altas serán las ganadoras de ese artículo.</li>
			<li>Puedes pujar las veces que quieras por un mismo artículo, pero sólo la puja más alta será considerada.</li>
			<li>Puedes pujar en diferentes artículos, pero sólo puedes ganar 1 artículo del mismo modelo.</li>
			<li>En caso de que tu aportación sea mayor a $3,000, se puede aplicar el descuento en tres catorcenas, por lo que no tendrás que pagar todo en una sola exhibición.</li>
			<li>La subasta estará activa a partir del jueves 19 de octubre a partir de las 9:00 hrs. y hasta las 12:00 hrs., pasando este horario nadie podrá subastar.</li>
			<li>En caso de hacer una devolución sólo podrás hacerlo el martes 24 de octubre.</li>
			<li>Importante a considerar, que estos artículos <strong>no tienen garantía</strong> ni con el proveedor, ni con Best Buy.</li>
		</ul>
 
	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function($) {
	$('body').on('keypress', function(e) {
		 if (e.which === 13 || e.type === 'click') {
			consulta();
		}
	});
	$('#submit').on('click', function(e) {
		consulta();
	});
});


function consulta(){
	var username = $('#name').val();
	var email = $('#email').val();	
	$.ajax({
		url: '/login',
		dataType: 'json',
		data: {param1: email, param2: username},
		success: function(data){
			if(data!==null){
				window.location.replace("/products");
			}else{
				$('#msg').html('Lo sentimos, por favor verifica tu usuario o correo electrónico.').fadeIn('');
			}	
		}
	});
}

</script>
