<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<h1>Login</h1>
				<form action="" class="loginForm">
					<div class="input-group">
						<input type="text" id="name" class="form-control" placeholder="aaXXXXX">
						<input type="submit" id="submit" class="form-control" value="Submit">
					</div>
				</form>
	</div>
	<div class="col-md-6">
		<p>jasdjasjdas</p>
		<p>jasdjasjdas</p>
		<p>jasdjasjdas</p>
		<p>jasdjasjdas</p>
		<p>jasdjasjdas</p>
	</div>
</div>