
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3 login">
				<form class="loginForm">
					<div class="input-group">
						<p>No. de Usuario <b>AA</b>:</p>
						<input type="text" id="name" class="form-control campo-login" placeholder="AAXXXXXX" value="">
						<p>Correo elctrónico:</p>
						<input type="text" id="email" class="form-control campo-login" placeholder="usuario@bestbuy.com" value="">
						<input type="button" id="submit" class="form-control btn-login" value="Ingresar">
					</div>
					&nbsp;
					<div class="row" id="alerta-roja">
					  <div class="alerta-roja" id="msg" style="display: none;"></div>
					</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-6 instrucciones-login">
 
		<h1>Condiciones de la Subasta:</h1>
		
 		<p>La subasta de Apple Watch consiste en subastar los artículos comenzando con el 30% de su costo. El pago de cada artículo se descontara <strong>vía nómina</strong>.</p>
 		<p>Con el monto recaudado subsidiamos una parte de la fiesta de fin de año y además se hará una donación a dos instituciones de beneficencia: Teletón y Ser Humano A.C..</p>

		<ul>
			<li>En la plataforma encontraras los diferentes modelos disponibles para pujar</li>
			<li>Las pujas más altas en el tiempo establecido para cada artículo, serán las ganadoras. Ejemplo: si existen 5 relojes del mismo modelo, las 5 pujas más altas serán las ganadoras de ese artículo.</li>
			<li>Puedes pujar las veces que quieras por un mismo artículo, pero solo la puja más alta será considerada.</li>
			<li>Puedes ganar las veces que tú quieras los productos que necesites</li>
			<li>En caso de que tu aportación sea mayor a $3,000, se puede aplicar el descuento en tres catorcenas, por lo que no tendrás que pagar todo en una sola exhibición.</li>
			<li>La subasta estará activa el jueves 19 de octubre a partir de las 7:00 y hasta las 18:00, pasando este horario nadie podrá subastar.</li>
			<li>Los ganadores serán comunicados el lunes 23 de octubre y podrán pasar por sus artículos a RH y firmar su carta de descuentos.</li>
			<li>En caso de hacer una devolución solo podrás hacerlo el martes 24 de octubre.</li>
			<li>Importante considerar que estos artículos <strong>no tienen garantía</strong> ni con el proveedor, ni con Best Buy</li>
		</ul>
 
	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function($) {
	$('body').on('keypress', function(e) {
		 if (e.which === 13 || e.type === 'click') {
			consulta();
		}
	});
	$('#submit').on('click', function(e) {
		consulta();
	});
});


function consulta(){
	var username = $('#name').val();
	var email = $('#email').val();	
	$.ajax({
		url: '/login',
		dataType: 'json',
		data: {param1: email, param2: username},
		success: function(data){
			if(data!==null){
				window.location.replace("/products");
			}else{
				$('#msg').html('Lo sentimos, por favor verifica tu usuario o correo electrónico.').fadeIn('');
			}	
		}
	});
}

</script>