
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3 login">
		<p>Ingresa con tu número de empleado:</p>
				<form class="loginForm">
					<div class="input-group">
						<input type="text" id="name" class="form-control campo-login" placeholder="">
						<input type="button" id="submit" class="form-control btn-login" value="Ingresar">
					</div>
					&nbsp;
					<div class="row" id="alerta-roja">
					  <div class="alerta-roja" id="msg"></div>
					</div>
				</form>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-6 instrucciones-login">
		<h1>INSTRUCCIONES</h1>
		<p align="justify">
			1.- Ingresa con tu número <strong>“Número de Empleado”</strong> a la <b>Subasta Best Buy</b>.<br>
			2.- Revisa la lista de modelos y selecciona el que más te agrade.<br>
			3.- A continuación estarás en el detalle del producto donde podrás ver las especificaciones y el precio incial del mismo.<br>
			4.- En el detalle del producto podrás seleccionar si lo quieres <strong>“CON Correa”</strong> o <strong>“SIN Correa”</strong>, y ofertar por el que más te agrade. <br>
			5.- Lo único que debes hacer es ingresar la cantidad que ofreces por el modelo que te gustó y dar click en el botón de <strong>“Ofertar”</strong>.<br>
			6.- A continuación podrás ver de nuevo el listado de productos y ofertar por otro modelo de tu interés.
		<p>
	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function($) {
	$('#msg').hide();
	$('#submit').on('keypress click', function(e) {
		 if (e.which === 13 || e.type === 'click') {
			consulta();
		}
	});
});


function consulta(){
	var username = $('#name').val();	
	$.ajax({
		url: '/login',
		dataType: 'json',
		data: {param1: username},
		success: function(data){
			if(data!==null){
				window.location.replace("/products");
			}else{
				$('#msg').show();
				$('#msg').html('Lo sentimos, el usuario no existe.');
			}	
		}
	});
}

</script>