<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Subasta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="http://media.www.bestbuy.com.mx/media/favicon/default/favicon_1.ico" />
  </head>

  <body>
    <nav class="navbar navbar-default header-sup">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/" style="padding-top: 0px;"><img src="/images/logo.png" alt="Subasta Best Buy" title="Subasta Best Buy"  width="300px"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         
          
            <% if cookies[:user].present? %>
            <ul class="nav navbar-nav navbar-right"><!-- Button trigger modal -->
              <li><a href="/#myModal" style="color:white; font-size: 14px; margin-top: 10px;" data-toggle="modal" data-target="#myModal">
                Ver Reglas
            </a></li>
              <li><a href="/closeSession" style="color:white; font-size: 14px; margin-top: 10px;">Cerrar Sesión</a></li>
            </ul>
            <% end %>
        </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">
    <%= yield %>
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reglas</h4>
      </div>
      <div class="modal-body">
      <p class="span-title">Condiciones de la Subasta:</p>
    
    <p>La subasta consiste en pujar por los artículos comenzando con el 30% de su costo. <br>El pago de cada artículo se descontara <strong>vía nómina</strong>.</p>
    <p>Con el monto recaudado se hará una donación a:<p>
      <ul>
        <li>El  "Teletón" pagando a Juan Carlos  su tratamiento de  Sindrome de Down por un año.</li>
        <li>Donando a la fundación "Ser Humano A.C."  </li>
        <li>Subsidiando parte de la fiesta de Fin de año de Corporativo.</li>
      </ul>
    <p class="span-title">¿Cómo participar?</p>
    <ul>
      <li>En la plataforma encontraras los diferentes modelos disponibles para pujar.</li>
      <li>Las pujas más altas en el tiempo establecido para cada artículo, serán las ganadoras. Ejemplo: si existen 5 artículos del mismo modelo, las 5 pujas más altas serán las ganadoras de ese artículo.</li>
      <li>Puedes pujar las veces que quieras por un mismo artículo, pero solo la puja más alta será considerada.</li>
      <li>Puedes pujar en diferentes artículos, pero solo puedes ganar 1 artículo del mismo modelo. Ejemplo.</li>
      <li>En caso de que tu aportación sea mayor a $3,000, se puede aplicar el descuento en tres catorcenas, por lo que no tendrás que pagar todo en una sola exhibición.</li>
      <li>La subasta estará activa apartir del jueves 19 de octubre a partir de las 9:00 y hasta las 12:00 hrs, pasando este horario nadie podrá subastar.</li>
      <li>En caso de hacer una devolución solo podrás hacerlo el martes 24 de octubre.</li>
      <li>Importante considerar que estos artículos <strong>no tienen garantía</strong> ni con el proveedor, ni con Best Buy.</li>
    </ul>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>-->
    </div>
  </div>
</div>
  </body>
</html>
